@font-face {
    font-family: Pokemon;
    src: url(./fonts/Ketchum.otf);
}
@font-face {
    font-family: PokemonItalic;
    src: url(./fonts/Ketchum\ Italic.otf);
}
@font-face {
    font-family: PokemonKiddy;
    src: url(./fonts/Pokemon\ Kiddy\ Ding.ttf);
}
@keyframes de-izquierda-a-dererecha{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}
body {
    margin: 20px;
    background-color: #000;
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: PokemonItalic;
    color: #e7a905;
    -webkit-text-stroke: 1.2px #12123e; 
    font-size: 18px; 
}

.tittle{    
    display: flex;
    flex-direction: column;    
    color: #e7a905;
    -webkit-text-stroke: 1px #263f8f;     
    font-family: PokemonItalic;
    font-size: 28px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;                 
}
.titulo{
    margin: 10px;
}
.subtitulo{
    margin: 10px;
}
#select-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle {
    color: #e7a905;
    -webkit-text-stroke: 1px #263f8f;     
    font-family: PokemonItalic;
    font-size: 28px;    
    margin: 10px;
    padding: 10px;
}
#img-player-poke, #img-enemy-poke{
    width: 80px;
}
.cards {
    display: flex;
    gap: 10px;
}
#btns-attacks {
    display: flex;
}
.card{
    transition: 2s ease-in-out;    
    /*transform: scale(1.1) para agrandar*/
    transform: rotate(360deg);
}
.pokemon:hover {
    cursor: pointer;
    box-shadow: 1px1px10px #000;
    transform: scale(1.1);
}
input:checked+label {
    background-color: #263f8f;
}
.pokemon {
    display: flex;
    width: auto;
    height: auto;
    background-color: none;
    padding: 10px;
    border: 1px solid #263f8f;
    border-radius: 10px;    
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.pokemon img {
    width: 80px;
    height: 70px;
}
#btn-select {    
    border: 1px solid;
    border-radius: 5px;
    width: 130px;      
    padding: 10px;
    margin-top: 20px;
    background-color: #e7a905;
    color: aqua;
    box-sizing: border-box;
    color: #263f8f;
    -webkit-text-stroke: 1px #263f8f;
    cursor: pointer;      
}
button {
    border: 1px solid;
    border-radius: 5px;
    width: 130px;      
    padding: 10px;
    margin-top: 20px;
    background-color: #e7a905;    
    color: aqua;
    box-sizing: border-box;
    color: #263f8f;
    -webkit-text-stroke: 1px #263f8f;     
}
input {
    display: none;
}
.btn-attacks{
    cursor: pointer;
}
#counter-lifes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-a, .item-b {
    margin: 20px;
}
#select-attack {   
    display: none;
    flex-direction: column;
    align-items: center;    
}
#message {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #263f8f;    
}
#btn-reset{
    border: 2px solid;
    background-color: #263f8f;
    -webkit-text-stroke: 1px white; 
    color: white;
}
.attacks {
    display: grid;
    grid-template-columns: 150px 150px;
}

@media (max-width: 640px) {
    .cards, #btns-attacks {
        flex-direction: column;
    }    
}